.Consta--Footer {
  background-color: var(--color-bg-secondary);

  &-Textarea {
    width: 100%;
  }

  &-EmailPlusSubmit {
    display: flex;
  }

  &-Email {
    flex: 1 1 100%;
  }

  &-Copyright {
    padding-top: var(--space-xl);
    border-top: 1px solid var(--color-bg-border);
  }
}
